{% extends "base_geneic.html" %}

{% block title %} <title> Local Library | Reset Password Confirm </title> {% endblock %}

{% block content %}
	{% if validlink %}
		<p>Please enter (and confirm) your new password.</p>
		<form action="" method="POST">
			{% csrf_token %}
			 <table>
			 	<tr>
			 		<td>
			 			{{ form.new_password1.errors }}
			 			<label for="id_new_password1">New Password:</label>
			 		</td>
			 	</tr>
			 	<tr>
			 		<td>
			 			{{ form.new_password2.errors }}
			 			<label for="id_new_password2">Confirm Password:</label>
			 		</td>
			 	</tr>
			 	<tr>
			 		<td></td>
			 		<td><input type="submit" class="btn btn-primary" value="Change my password" />
			 	</tr>
			 </table>
		</form>
	{% else %}
		<h1>Password reset failed</h1>
		<p>The password reset link was invalid, possibly becuase it has already been used. Please request a new password reset.</p>
	{% endif %}
{% endblock content %}