{% extends "base_generic.html" %}

{% block title %} <title> Local Library | Home </title> {% endblock %} <!-- challenge yourself (1) -->

{% block content %}
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>

<table class="table table-hover table-striped table-bordered">
	<tbody>
		<tr class="thead-dark">
			<th>Type</th>
			<th>Count</p>
		</tr>
		<tr>
			<td><b>Books:</b></td>
			<td><span class="badge badge-primary">{{ num_books }}</span></td>
		</tr>
		<tr>
			<td><b>Copies:</b></td>
			<td><span class="badge badge-primary">{{ num_instances }}</span></td>
		</tr>
		<tr>
			<td><b>Copies available:</b></td>
			<td><span class="badge badge-primary">{{ num_instances_available }}</span></td>
		</tr>
		<tr>
			<td><b>Authors:</b></td>
			<td><span class="badge badge-primary">{{ num_authors }}</span></td>
		</tr>
		<!-- Challenge yourself (2.3) -->
		<tr>
			<td><b>Genres:</b></td>
			<td><span class="badge badge-primary">{{ num_genre }}</span></td>
		</tr>
		<tr>
			<td><b>Books about 'Grammer': </b></td>
			<td><span class="badge badge-primary">{{ grammer_books }}</span></td>
		</tr>
	</tbody>
</table>

{% if num_visits %}
	<p>You have visited this page {{ num_visits }} time{{num_visits|pluralize:"s"}}.</p>
{% else %}
	<p>You are visiting this page for the first time.</p>
{% endif %}

{% endblock %}
