{% extends "base_generic.html" %}

{% block title %} <title> Local Library | Home </title> {% endblock %} <!-- challenge yourself (1) -->

{% block content %}

<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
<hr>
<h3>Dynamic content</h3>
<p>The library has the following record counts:</p>

<ul>
	<li><b>Books:</b> <span class="badge badge-primary">{{ num_books }}</span></li>
	<li><b>Copies:</b> <span class="badge badge-primary">{{ num_instances }}</span></li>
	<li><b>Copies available:</b> <span class="badge badge-primary">{{ num_instances_available }}</span></li>
	<li><b>Authors:</b> <span class="badge badge-primary">{{ num_authors }}</span></li>

	<!-- Challenge yourself (2.3) -->
	<li><b>Genres:</b> <span class="badge badge-primary">{{ num_genre }}</span></li>
	<li><b>Books about 'Grammer': </b> <span class="badge badge-primary">{{ grammer_books }}</span></li>
</ul>

{% if num_visits %}
	<p>You have visited this page {{ num_visits }} time{{num_visits|pluralize:"s"}}.</p>
{% else %}
	<p>You are visiting this page for the first time.</p>
{% endif %}

{% endblock %}
