{% extends "base_generic.html" %}

{% block content %}

<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>

<ul>
	<li><b>Books:</b> {{ num_books }} </li>
	<li><b>Copies:</b> {{ num_instances }} </li>
	<li><b>Copies available:</b> {{ num_instances_available }} </li>
	<li><b>Authors:</b> {{ num_authors }} </li>
</ul>

{% if num_visits %}
	<p>You have visited this page {{ num_visits }} time{{num_visits|pluralize:"s"}}.</p>
{% else %}
	<p>You are visiting this page for the first time.</p>
{% endif %}

{% endblock %}
