{% extends 'base_generic.html' %}

{% block title %} <title> Local Library | All Authors </title> {% endblock %}

{% block content %}

<h2> Author List </h2>
<hr>
{% if perms.catalog.can_mark_returned %}
<div class="text-right add-new-item">
	<a href="{% url 'author_create' %}" class="btn btn-info">Add New Author</a>
</div>
{% endif %}

{% if author_list %}
<table class="table table-stripped table-hover">
	<thead>
		<tr class="thead-dark">
			<th>#</th>
			<th>Author Name</th>
			<th>Years</th>
			{% if perms.catalog.can_mark_returned %}
			<th>Edit</th>
			<th>Delete</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for author in author_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>
				<a href="{% url 'author-detail' author.pk %}">
					<b>{{ author.last_name }}, {{ author.first_name }}</b> 
				</a>
			</td>
			<td>
				{{ author.date_of_birth }} - {{ author.date_of_death }}
			</td>
			{% if perms.catalog.can_mark_returned %}
			<td>
				<a href="{% url 'author_update' author.pk %}" class="btn btn-warning"> Edit </a>
			</td>
			<td>
				<a href="{% url 'author_delete' author.pk %}" class="btn btn-danger"> Delete </a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<p class="text-danger">There is no author.</p>
{% endif %}

{% endblock %}