{% extends 'base_generic.html' %}

{% block title %} <title> Local Library | Book Detail </title> {% endblock %}

{% block content %}

<h2>Title: {{ book.title }}</h2>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Author</th>
			<th>Summary</th>
			<th>ISBN</th>
			<th>Language</th>
			<th>Genre</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></td>
			<td>{{ book.summary }}</td>
			<td>{{ book.isbn }}</td>
			<td>{{ book.language }}</td>
			<td>{{ book.genre.all|join:", " }}</td>
		</tr>
	</tbody>
</table>

<div style="margin-left:50px;margin-top:20px">
	<h4>Copies</h4>

	{% for copy in book.bookinstance_set.all %}
	<hr>
	<b>{{ forloop.counter }}</b>
	<p class=" badge {% if copy.status == 'a' %}badge-success{% elif copy.status == 'm' %}badge-danger{% else %}badge-warning{% endif %}">
		{{ copy.get_status_display }}
	</p>
	{% if copy.status != 'a' %}
		<p><strong>Due to be returned: </strong>{{ copy.due_back }}</p>
	{% endif %}
	<p><strong>Imprint: </strong>{{ copy.imprint }}</p>
	<p class="text-muted"><strong>Id: </strong>{{ copy.id }}</p>
	{% endfor %}
</div>
{% endblock %}
